/* added a background color or image to my website */
body {
  background-color: #ECCFF1;
}

/* added background image for header */
.header {
  padding: 300px;
  text-align: center;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2c71f31c-d62e-4c14-b189-42d2fa1e0046/dai2dfu-a92854d5-e26d-4ce8-ab96-c2e6dd7eeb58.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMmM3MWYzMWMtZDYyZS00YzE0LWIxODktNDJkMmZhMWUwMDQ2XC9kYWkyZGZ1LWE5Mjg1NGQ1LWUyNmQtNGNlOC1hYjk2LWMyZTZkZDdlZWI1OC5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.uY4KTgnmHobpJOAPgvZVEu3hcrw4bLGT6WrN8XZlirE");
  color: white;
  font-size: 30px;
  border: 3px solid white;
}

.blog-header {
  padding: 200px;
  text-align: center;
  background-image: url("https://data.whicdn.com/images/258515697/original.gif");
  color: white;
  font-size: 30px;
  border: 3px solid white;
}

.port-header {
  padding: 150px;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/5a/2b/90/5a2b903ceda31d8b5b39a0234420e5c7.gif");
  color: white;
  font-size: 30px;
  border: 3px solid white;
}

/* styling the Nav Bar by selecting the u1, li, and li a elements */
li {
  display: inline;
  float: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D5B4DB;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

li a:hover {
  background-color: #BFB8D3;
}

/* used the * selector to reset the margin and padding to 0px */
* {
  margin: 0px;
  padding: 0px;
}

/*TODO: Add styling rules for the text and images on your website.*/

/*TODO: Create a Flexbox to create a responsive layout. Use the property display: flex;*/

/* formatting tables on home page */
table,
th,
td {
  border: 1px solid black;
}

table {
  width: 100%;
}

th {
  height: 50px;
}

th {
  text-align: left;
}

td {
  height: 50px;
  vertical-align: bottom;
}

th,
td {
  padding: 5px;
  text-align: left;
}

th,
td {
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #BFB8D3;
}

th {
  background-color: #E7ABE3;
  color: black;
}

/* adding styling rules for the text on my website.*/

p {
  font-size: 1.2em;
  color: ##22083D;
  padding-top: 1em;
  padding-bottom: 1em;
}

h3 {
  font-size: 2em;
  color: ##22083D;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* fonts */
.lato {
  font-family: "Lato", sans-serif;
}

.mont {
  font-family: "Montserrat", sans-serif;
}

/* adding customization for blog page */

.blog-title {
  padding: 30px;
  font-size: 15px;
  text-align: center;
  background: pink;
  color: white;
  border: 3px solid white;
}

.title {
  padding: 30px;
  text-align: left;
  color: ##22083D;
}

.date {
  padding: 30px;
  text-align: left;
  color: ##22083D;
}

.blog-content {
  padding: 30px;
  text-align: left;
  color: ##22083D;
}
